#content_left{
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 5;
    padding-right: 30px;
    padding-left: 10px;
    height: 100vh;
}
#cover {
    display: flex;
    aspect-ratio: 1/1;
    height: 55vh;
    position: relative;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#cover_img, .star, .love {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
#player {
    transform: translate(-50%, -50%);
    position: absolute;
    object-fit: cover;
    user-select: none;
    background-color: #f0ebe384;
    border-radius: 9999px;
    transition: background-color 0.3s, top 0.3s, left 0.3s, width 0.3s, height 0.3s;
    /* background-color: rgba(255, 255, 255, 0.5); */
}
.play_style {
    top: 75%;
    left: 75%;
    width: 30%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.5) !important;
}
.pause_style {
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: #F0EBE3 !important;
}
#player:hover {
    background-color: #F0EBE3 !important;
}
#player_icon {
    width: 100%;
    height: 100%;
    /* transition: all 0.5s; */
}
#content_right{
    display: flex;
    flex: 4;
    width: 100%;
    z-index: 1;
}
#information {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 3vw;
}
.inf_text {
    padding-bottom: 1vh;
    font-size: 1.2em;
}
#name {
    font-size: 1.6em;
    font-weight: bold;
}
#star_list{
    margin-top: 10px;
}
#star_list, #love_div {
    padding-top: 5px;
    display: flex;
    /* width: 20px; */
    height: 20px;
}
.homepage {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
    align-items: center;
}
#canvas {
    width: 50px;
    height: 54vh;
}