#content_left{
    display: flex;
    justify-content: end;
    flex: 5;
    padding-right: 30px;
    padding-left: 10px;
}
#cover {
    display: flex;
    aspect-ratio: 1/1;
    height: 55vh;
    position: relative;
}
#cover_img, .star, .love {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    user-select: none;
}
#cover_img {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
#pause_img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(0.5);
    width: 50%;
    height: 50%;
    position: absolute;
    object-fit: cover;
    user-select: none;
    background-color: #f0ebe384;
    border-radius: 9999px;
    /* box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(1px);
}
#pause_img:hover {
    background-color: #F0EBE3;
}
#content_right{
    display: flex;
    flex: 4;
    width: 100%;
}
#information {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 3vw;
}
.inf_text {
    padding-bottom: 1vh;
}
#star_list, #love_div {
    display: flex;
    width: 20px;
    height: 20px;
}