#headers {
    height: 30px;
    display: flex;
    -webkit-app-region: drag;
    user-select: none;
    background-color: #FFD4D4;
    z-index: 99999;
}
#header-left {
    display: flex;
    justify-content: start;
    width: 50%;
}
#app_logo{
    margin-top: 3px;
    transform: scale(0.8);
}
#header-right {
    display: flex;
    justify-content: end;
    width: 50%;
}
.ico {
    -webkit-app-region: no-drag;
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    margin-left: 5px;
}
.ico > img {
    transform: scale(0.5);
}
.ico:hover {
    background-color: #E192A2;
}
#close:hover {
    background-color: #E72929;
}