#content {
    display: flex;
    align-items: center;
    justify-content: start;
    align-content: baseline;
    height: 100%;
    width: 100%;
}
#tool_list {
    width: 15vw;
    height: 100%;
    border-right: 3px solid #000;
    display: flex;
    /* flex-direction: column; */
    align-self: center;
    justify-content: center;
}
#tool_list_content {
    margin-top: 10vh;
}
.tool {
    display: flex;
    justify-self: start;
    justify-content: start;
    user-select: none;
    margin-top: 2vh;
    font-size: 1.1em;
    /* white-space: pre-wrap; */
    /* border-bottom: 2px solid #000; */
}
#hidden_tools_button {
    display: flex;
    user-select: none;
    padding-left: 5px;
}
#content_left{
    display: flex;
    justify-content: end;
    flex: 5;
    padding-right: 30px;
    padding-left: 10px;
}
#cover {
    display: flex;
    aspect-ratio: 1/1;
    height: 55vh;
    position: relative;
}
#cover_img, .star, .love {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    user-select: none;
}
#pause_img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    position: absolute;
    object-fit: cover;
    user-select: none;
}
#content_right{
    display: flex;
    flex: 4;
    width: 100%;
}
#information {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 3vw;
}
#star_list, #love_div {
    display: flex;
    width: 20px;
    height: 20px;
}