* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s;
}
/* 设置统一字体 */
@font-face {
    font-family: "ex";
    src: url('../public/font/GenJyuuGothic-Normal-2.ttf') format('truetype');
}
* {
    font-family: "ex";
}
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    overflow: hidden;
}
#progress {
    background-color: #FEBBCC;
    display: flex;
    width: 70%;
    height: 7px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: height 0.3s, width 1s;
    z-index: 9999;
}
#progress:hover {
    height: 15px;
}
#background {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* background-image: url('../public/img/ex.png'); */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    /* padding: 20px; */
    filter: blur(50px);
    overflow: hidden;
    transform: scale(1.2);
}